# .NET build
bin/
obj/
*.user
*.suo

# Logs
Logs/
*.log

# Tailwind / Node (dans le projet Web)
src/MedManager.Web/node_modules/
src/MedManager.Web/package-lock.json
src/MedManager.Web/wwwroot/css/tailwind.css

# Local-only settings (ne jamais push)
src/MedManager.Web/appsettings.Local.json

# IDEs
.vscode/*
!.vscode/settings.json

# OS stuff
.DS_Store
Thumbs.db

.env
